<div class="row" ng-controller="ListController">

    <div class="col-md-2">

        <p>Total number of gadjets: {{phones.length}}</p>
        <p>Search: <input class="search_input" ng-model="query"></p>

        Sort by:
        <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
        </select>
    </div>

    <div class="col-md-10">

        <ul class="phones">
            <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
                <div class="app">
                    <a href="/list/{{phoneId}}"><span>{{phone.name}}</span></a>
                    <p>{{phone.snippet}}</p>
                    <img ng-src="{{phone.imageUrl}}" alt="">
                </div>
            </li>
        </ul>

    </div>
</div>